
ul, ol {
    list-style-position: inside;
}

body {
    padding-top:50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

li {
    font-size: 18px;
    font-weight: 700;
}
hr { background-color: lightgray; height: 1px; border: 0; }
#first {
    background-color: black;
    color: white;   
    padding: 10px;
    width: 100%;
    size: 20px;
    font-size: 20px;
    text-align: left;
}
nav {
    background-color: #0d0d0d;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    text-align: center;
}
footer {
    background-color: #202324;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 100px;
}
nav a:hover {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
nav a {
    display:inline;

    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}