
ul, ol {
    list-style-position: inside;
    list-style-type: none;
}

body {
    padding-top:50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

li {
    font-size: 18px;
    font-weight: 700;
}
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 480px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}
hr { background-color: lightgray; height: 1px; border: 0; }
#first {
    background-color: black;
    color: white;   
    padding: 10px;
    width: 100%;
    size: 20px;
    font-size: 20px;
    text-align: left;
}
nav {
    background-color: #0d0d0d;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    text-align: center;
}
footer {
    background-color: #202324;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 100px;
}
nav a:hover {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
nav a {
    display:inline;

    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}